* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display:flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
    line-height: 150px;
    height: 150px;
    padding: 0 50px;
    background-color:rgb(255, 255, 255);
}

/* header:hover {
    background-color:rgb(255, 255, 255);
} */

.image img {
    width: 150px;
}

.menu ul {
    display: flex;
    gap: 50px;
}

.menu ul li a, .menu ul li {
    text-decoration: none;
    list-style-type: none;
}

.menu ul li a {
    font-size: 20px;
    padding: 0 20px;
    color:rgb(226,96,103)
}

.menu ul li a:hover {
    color: pink;
}

.button_support>:nth-child(2){
    margin:0 20px;
}

.button_support i {
    cursor: pointer;
}

.image_body {
    margin-top: 79px;
}

.image_body img {
    width: 100%;
}

/* footer css */
footer {
    padding: 0px 50px 20px 50px;
    border-top: 1px solid rgba(220, 220, 225, 0.658);
}

.products {
    padding: 50px 0;
    text-align: center;
}

.flex_box {
    width: 250px;
    margin: 20px 0;
    height: 450px;
    border:1px solid rgb(205, 202, 202);
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgb(212, 202, 202);
}

.flex_box:hover {
    width: 255px;
    height: 455px;
    cursor: pointer;
    transition: 0.3s ease;
}

.form_flex {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.img_cl:hover {
    width: 101%;
    height: 101%;
    cursor: pointer;
    transition: 0.3s ease;
}

.flex1 {
    width: 250px;
    height: 350px;
    padding: 5px 10px;
    /* background-color: rgb(12, 99, 175); */
}

.flex1 p {
    font-size: 20px;
    color:brown;
    padding: 10px 0;
}

.child_flex {
    font-size: 20px;
    color:brown;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.img_cl {
    background: url(../image/Alex\ Perry\ resort\ 2019.jpg) center/cover no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

.img_cl1 {
    background: url(../image/31\ Gorgeous\ Pieces\ Of\ Clothing\ That\ Look\ Even\ Better\ From\ Behind.jpg) center/cover no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

.img_cl2 {
    background: url(../image/setvaycobeo.jpg) center/cover no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

.img_cl3 {
    background: url(../image/setvaycobeo.jpg) center/cover no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 5px;

}
/* Footer */
.main_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content_footer h5{
    margin-bottom: 10px;
}

.content_footer p {
    margin-bottom: 5px;
}

.main_about {
    margin-top: 150px;
    display: flex;
    width: 100%;
    height: 750px;
    padding: 20px 50px;
}

.left_img_about {
    width: 50%;
    background-color: antiquewhite;
}

.in_left_about {
    width: 80%;
    margin-left: 70px;
    height: 100%;
    background: url(../image/Đen\ và\ Trắng\ Thanh\ lịch\ Quần\ áo\ Cũ\ Thời\ trang\ Bền\ vững\ Tin\ Instagram.jpg) center/cover no-repeat;
}

.in_right_about h3{
    text-align: center;
    font-size: 25px;
}

.in_right_about p {
    font-size: 18px;
    text-align: justify;
    padding: 10px;
}

.right_content_about {
    width: 50%;
}

/* PRODUCT_PAGE */
.product_page {
    margin-top:150px ;
}